.button{
    width: 502px;
    height: 50px;
    background-color: #2196F3;
    color: #ffff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .button {
      width: 100%;
      margin-bottom: 10px;
    }
  }